Repository cfield12/loop-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

build-api-common-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  ...

build-api-rest-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG -f docker/api_rest/Dockerfile -t $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG .
  ...

build-data-pipeline-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  ...

lint-api-common:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop

lint-api-rest:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.rest
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop-api --exclude=loop-api/vendor
  ...

lint-data-pipeline:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $DATA_PIPELINE_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd data.pipeline
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle lambdas

test-api-common:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  - python -m pip install pyopenssl --upgrade
  ...

test-api-rest:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.rest
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  ...

test-data-pipeline:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install dist/loop-1.0.tar.gz
  - cd ../data.pipeline/
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  ...

Fixed cognito permission.
  api.rest/loop-api/.chalice/policy-develop.json
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Made admin ratings endpoint a paginated endpoint.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/data_classes.py
  api.common/loop/tests/test_data.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Added null rating page retuls.
  api.common/loop/api_classes/api_classes.py
  api.common/loop/api_classes/validators.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/data_classes.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_validators.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added 2nd client (Admin) to Cognito user pool.
  data.pipeline/infrastructure/cognito.yaml
Due: build-data-pipeline-ci-image, lint-data-pipeline

Added new admin auth endpoints.
  api.common/loop/auth.py
  api.common/loop/tests/test_auth.py
  api.rest/auth-api/app.py
  data.pipeline/infrastructure/cognito.yaml
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Added new logic to friends.py to return pending requests for user.
  api.common/loop/friends.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added new endpoints for getting inbound/outbound friend requests for user.
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Added FriendRequestType Enum.
  api.common/loop/enums.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Updating readme.
  README.md
Due: none

Allowing getting of both pending types and returning empty list if empty search term.
  api.common/loop/enums.py
  api.common/loop/friends.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Sorting returned users in search users by closest match.
  api.common/loop/friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Got rid of /web endpoints for both APIs.
  api.rest/auth-api/app.py
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Made search users with a query param.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Made searching for users a paginated endpoint.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Turned off pycodestyle for a couple lines in friends.py
  api.common/loop/friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed linting by adding .pycodestyle file.
  api.common/.pycodestyle
  api.common/loop/friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Improved code surrounding search users endpoint.
  api.common/loop/constants.py
  api.common/loop/data_classes.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Adding script which creates/deletes test users in user table.
  scripts/create_test_users.py
Due: none

Got rid of target user param in FriendWorker class.
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Added docstrings to methods in loop package.
  api.common/loop/admin_utils.py
  api.common/loop/auth.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/data_classes.py
  api.common/loop/db_entities.py
  api.common/loop/enums.py
  api.common/loop/exceptions.py
  api.common/loop/friends.py
  api.common/loop/tests/test_data.py
  api.common/loop/thumbnails.py
  api.common/loop/utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Changed RDS_WRITE everywhere so we are using Enums.
  api.common/loop/admin_utils.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/enums.py
  api.common/loop/friends.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
  api.rest/tests/test_api_endpoints.py
  data.pipeline/lambdas/user_creator/main.py
  data.pipeline/lambdas/user_creator/tests/test_user_creator.py
  data.pipeline/lambdas/user_deleter/main.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Created db_session module.
  api.common/loop/data.py
  api.common/loop/db_session.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added unittests for db session module.
  api.common/loop/data.py
  api.common/loop/db_session.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_db_session.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed test user creator.
  data.pipeline/lambdas/user_creator/tests/test_user_creator.py
Due: build-data-pipeline-ci-image, lint-data-pipeline

Updated gitlab-ci file so that tes data pipeline runs when changes are made in data.pipeline directory.
  .gitlab-ci.yml
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Update README.md
  README.md
Due: none

Updating README.md.
  README.md
Due: none

Formatting readme.
  README.md
Due: none

Path conditions:
  build-api-common-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*
  build-api-rest-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, api.rest/**/*
  build-data-pipeline-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, data.pipeline/**/*
  lint-api-common: any of: api.common/**/*, .gitlab-ci.yml
  lint-api-rest: any of: api.rest/**/*, .gitlab-ci.yml
  lint-data-pipeline: any of: data.pipeline/**/*, .gitlab-ci.yml
  test-api-common: any of: api.common/**/*, .gitlab-ci.yml
  test-api-rest: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
  test-data-pipeline: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
