Repository cfield12/loop-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

build-api-common-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID -f docker/api_common/Dockerfile -t $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID .
  ...

build-api-rest-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID -f docker/api_rest/Dockerfile -t $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID .
  ...

lint-api-common:
  stage: Lint
  tags:
  - docker
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - cd api.common
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop

lint-api-rest:
  stage: Lint
  tags:
  - docker
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - cd api.rest
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop-api --exclude=loop-api/vendor

test-api-common:
  stage: Test
  tags:
  - docker
  variables:
    ENVIRONMENT: test
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  - python -m pytest --cov=loop --cov-fail-under=80

test-api-rest:
  stage: Test
  tags:
  - docker
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.rest
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - python -m pytest tests/ --cov=loop-api/

Added storage s3 files.
  data.pipeline/Makefile
  data.pipeline/infrastructure/storage.yaml
Due: none

Adding ec2 permissions to lambda role.
  data.pipeline/template.yaml
Due: none

Updated cognito yaml file with lambda trigger.
  data.pipeline/infrastructure/cognito.yaml
Due: none

Added arn export.
  data.pipeline/infrastructure/cognito.yaml
Due: none

Hopefully fixing makefile.
  data.pipeline/Makefile
  data.pipeline/template.yaml
Due: none

Attempting to fix make commands.
  data.pipeline/Makefile
Due: none

Installing sam v 1.37.0
  .gitlab-ci.yml
  data.pipeline/Makefile
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

upgrading openssl
  .gitlab-ci.yml
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Providing AWS creds.
  .gitlab-ci.yml
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

exporint aws creds properly in makefile.
  .gitlab-ci.yml
  data.pipeline/Makefile
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added loop package to requirements files.
  data.pipeline/lambdas/user_creator/requirements.txt
Due: none

Updated db entities
  api.common/loop/db_entities.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

fixed tests.
  api.common/loop/test_setup/common.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Updated auth function to look for cognito:username.
  api.common/loop/constants.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Updated chalice develop api config
  api.rest/loop-api/.chalice/deployed/develop.json
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Added initial logic for endpoint.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/data.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added google client and ability to create ratings whether or not the location is stored in RDS or not.
  Pipfile
  api.common/Pipfile
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/data.py
  api.common/loop/exceptions.py
  api.common/loop/utils.py
  api.rest/loop-api/app.py
  api.rest/requirements.txt
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Adding google client dir
  api.common/loop/google_client/__init__.py
  api.common/loop/google_client/places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added scripts dir and further GooglePlaces methods
  api.common/loop/google_client/places.py
  scripts/google_maps_testing.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added some unit tests for data.py
  api.common/loop/constants.py
  api.common/loop/google_client/__init__.py
  api.common/loop/google_client/places.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Unit tests on create rating api endpoint.
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

fixed up logic for google_client.
  api.common/loop/google_client/places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Fixed lint.
  api.common/loop/google_client/places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Updated requirements files with googlemaps.
  api.common/requirements.txt
  api.rest/loop-api/requirements.txt
  data.pipeline/lambdas/user_creator/requirements.txt
  docker/data_pipeline/requirements.txt
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Unit tests for google places module.
  api.common/loop/google_client/places.py
  api.common/loop/tests/test_google_places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Fixed elastic_ips.yaml and networking.yaml for NAT gateway creation.
  data.pipeline/infrastructure/elastic_ips.yaml
  data.pipeline/infrastructure/networking.yaml
Due: none

Added friend table sql script and to db_entities.
  api.common/database/create_friend_table.sql
  api.common/loop/db_entities.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Created an add friend endpoint.
  api.common/database/create_friend_table.sql
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/api_classes/validators.py
  api.common/loop/data.py
  api.common/loop/exceptions.py
  api.common/loop/friends.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_friends.py
  api.common/loop/utils.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added new logic for accepting friend request.
  api.common/loop/data.py
  api.common/loop/friends.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added api tests.
  api.common/loop/test_setup/common.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added a delete friend api endpoint.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Cleaned up loop.friends module.
  api.common/loop/exceptions.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Removing unnecessary import.
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added secrets generator files.
  api.common/loop/local_secrets.py
  api.common/loop/secrets.py
  api.common/loop/secrets_generator.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Adding relevant logic to secrets.
  .gitlab-ci.yml
  api.common/loop/secrets.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Fixing lint.
  api.common/loop/secrets_generator.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Excluding secrets_generator.py from api.common tests.
  .gitlab-ci.yml
  api.common/.coveragerc
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Path conditions:
  build-api-common-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/requirements.txt, api.common/**/*
  build-api-rest-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, api.rest/**/*
  lint-api-common: any of: api.common/**/*, .gitlab-ci.yml
  lint-api-rest: any of: api.rest/**/*, .gitlab-ci.yml
  test-api-common: any of: api.common/**/*, .gitlab-ci.yml
  test-api-rest: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
