Repository cfield12/loop-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

build-api-common-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  ...

build-api-rest-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG -f docker/api_rest/Dockerfile -t $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG .
  ...

build-data-pipeline-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  ...

lint-api-common:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop

lint-api-rest:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.rest
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop-api --exclude=loop-api/vendor
  ...

lint-data-pipeline:
  stage: Lint
  tags:
  - saas-linux-small-amd64
  image:
    name: $DATA_PIPELINE_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd data.pipeline
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle lambdas

test-api-common:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  - python -m pip install pyopenssl --upgrade
  ...

test-api-rest:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.rest
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  ...

test-data-pipeline:
  stage: Test
  tags:
  - saas-linux-small-amd64
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install dist/loop-1.0.tar.gz
  - cd ../data.pipeline/
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  ...

Created auth api.
  .gitlab-ci.yml
  api.common/.coveragerc
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/api_classes/validators.py
  api.common/loop/auth.py
  api.common/loop/constants.py
  api.common/loop/exceptions.py
  api.common/loop/tests/test_auth.py
  api.common/loop/tests/test_validators.py
  api.rest/.gitignore
  api.rest/Makefile
  api.rest/auth-api/.chalice/config.json
  api.rest/auth-api/.chalice/deployed/develop.json
  api.rest/auth-api/.chalice/deployments/8973fcaf1487279e2417c65ffe61560c-python3.8.zip
  api.rest/auth-api/.chalice/policy-develop.json
  api.rest/auth-api/app.py
  api.rest/loop-api/app.py
  api.rest/pyproject.toml
  data.pipeline/infrastructure/cognito.yaml
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Fixed api rest tests.
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Updating policy to allow cognito use.
  api.rest/auth-api/.chalice/policy-develop.json
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Enabled CORS on auth endpoints.
  Pipfile
  api.rest/auth-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Added new logic in friends/data modules to get ratings.
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/friends.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added endpoint to get all users (just friends) ratings.
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Don't send message to thumbnail lambda if photo refernece is None.
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Added latitude and longitude fields to Location table.
  api.common/database/create_location_table.sql
  api.common/loop/data.py
  api.common/loop/db_entities.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Error handling when poor google id searched.
  api.common/loop/google_client/places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed api tests.
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Added cognito authorizer to app.
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

changed auth-token to Authorization.
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Edited thumbnails to add extra args to change content-type of s3 objects to image/jpeg.
  api.common/loop/s3_service.py
  api.common/loop/tests/test_thumbnails.py
  api.common/loop/thumbnails.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Updated s3 tests.
  api.common/loop/tests/test_s3_service.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

All successful endpoints return 200.
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Updated tests.
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Added max and min to numbers when creating a rating
  api.common/loop/api_classes/api_classes.py
  api.common/loop/api_classes/validators.py
  api.common/loop/constants.py
  api.common/loop/tests/test_validators.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Changed error when adding/accepting friend for someone who doesn't exist to badrequest error.
  api.common/loop/data.py
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added message field onto rating table.
  api.common/database/create_rating_table.sql
  api.common/loop/api_classes/api_classes.py
  api.common/loop/api_classes/validators.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/data_classes.py
  api.common/loop/db_entities.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Empty message is None.
  api.common/loop/api_classes/validators.py
  api.common/loop/tests/test_validators.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Returning IDs in reviews, to be used for PUT/DELETE requests.
  api.common/loop/data.py
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed test_friends.
  api.common/loop/tests/test_friends.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added update/delete rating endpoints.
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/data.py
  api.common/loop/tests/test_data.py
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Adding admin flag to login endpoint response auth-api.
  api.common/loop/auth.py
  api.common/loop/constants.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed tests.
  api.common/loop/auth.py
  api.common/loop/tests/test_auth.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Adding admin ratings endpoint.
  api.common/loop/data.py
  api.common/loop/tests/test_data.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Added api endpoint test.
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

New Group and User_group tables. Also adding access_admin decorator to protect admin endpoints.
  api.common/database/create_group_table.sql
  api.common/loop/data.py
  api.common/loop/db_entities.py
  api.common/loop/exceptions.py
  api.common/loop/test_setup/common.py
  api.common/loop/tests/test_data.py
  api.common/loop/utils.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Added new cognito endpoint to delete user.
  api.common/loop/auth.py
  api.common/loop/tests/test_auth.py
  api.rest/loop-api/app.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/main.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Added new lambda directory for deleting users.
  api.common/loop/constants.py
  data.pipeline/lambdas/user_deleter/__init__.py
  data.pipeline/lambdas/user_deleter/main.py
  data.pipeline/lambdas/user_deleter/requirements.txt
  data.pipeline/template.yaml
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-data-pipeline, test-api-common, test-api-rest, test-data-pipeline

Unit tests + functions to delete users everywhere.
  api.common/loop/data.py
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Created admin_utils module + unit tests.
  api.common/loop/admin_utils.py
  api.common/loop/tests/test_admin_utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed tests utils for admin user object.
  api.common/loop/tests/test_utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added api.rest tests and added AdminListGroupsForUser permission to auth-api policy.
  api.rest/auth-api/.chalice/policy-develop.json
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Ensured that 4XX are raised when failing to get admin permissions.
  api.rest/loop-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest, test-data-pipeline

Fixed poor naming of delete user queue.
  api.common/loop/constants.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Fixed test utils.py
  api.common/loop/tests/test_admin_utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, test-api-common, test-api-rest, test-data-pipeline

Added cognito permissions to loop-api to allow deletion of client.
  api.common/loop/admin_utils.py
  api.rest/loop-api/.chalice/policy-develop.json
Due: build-api-common-ci-image, build-api-rest-ci-image, build-data-pipeline-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest, test-data-pipeline

Path conditions:
  build-api-common-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*
  build-api-rest-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, api.rest/**/*
  build-data-pipeline-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, data.pipeline/**/*
  lint-api-common: any of: api.common/**/*, .gitlab-ci.yml
  lint-api-rest: any of: api.rest/**/*, .gitlab-ci.yml
  lint-data-pipeline: any of: data.pipeline/**/*, .gitlab-ci.yml
  test-api-common: any of: api.common/**/*, .gitlab-ci.yml
  test-api-rest: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
  test-data-pipeline: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
