Repository cfield12/loop-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

build-api-common-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID -f docker/api_common/Dockerfile -t $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID .
  ...

build-api-rest-ci-image:
  stage: Ci_Setup
  image: docker
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID -f docker/api_rest/Dockerfile -t $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID .
  ...

lint-api-common:
  stage: Lint
  tags:
  - docker
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - cd api.common
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop

lint-api-rest:
  stage: Lint
  tags:
  - docker
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - cd api.rest
  - python -m pip install pycodestyle==2.8.0
  - pycodestyle --config=.pycodestyle loop-api --exclude=loop-api/vendor

test-api-common:
  stage: Test
  tags:
  - docker
  variables:
    ENVIRONMENT: test
  image:
    name: $API_COMMON_CI_IMAGE_NAME:$CI_COMMIT_REF_SLUG
  script:
  - cd api.common
  - python setup.py sdist bdist_wheel
  - python -m pip install pytest==8.1.1 pytest-cov==5.0.0
  - python -m pytest --cov=loop --cov-fail-under=80

test-api-rest:
  stage: Test
  tags:
  - docker
  variables:
    ENVIRONMENT: test
    LOOP_AUTH_DISABLED: 1
    TEST: 1
  before_script:
  - cd api.rest
  image:
    name: $API_REST_CI_IMAGE_NAME:$CI_PIPELINE_IID
  script:
  - python -m pytest tests/ --cov=loop-api/

Upgrading pyopenssl before running secrets generator.
  .gitlab-ci.yml
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Add secrets.pickle to setup.py packaged data.
  api.common/setup.py
  api.rest/loop-api/.chalice/policy-develop.json
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added new directory for new api.
  .gitlab-ci.yml
  api.common/loop/api_classes/__init__.py
  api.common/loop/api_classes/api_classes.py
  api.common/loop/constants.py
  api.common/loop/google_client/__init__.py
  api.common/loop/google_client/places.py
  api.common/loop/utils.py
  api.rest/.gitignore
  api.rest/Makefile
  api.rest/loop-google-api/.chalice/config.json
  api.rest/loop-google-api/.chalice/deployed/develop.json
  api.rest/loop-google-api/.chalice/policy-develop.json
  api.rest/loop-google-api/.gitignore
  api.rest/loop-google-api/app.py
  api.rest/pyproject.toml
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Fixed test google places.
  api.common/loop/tests/test_google_places.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Fixing network for loop google api.
  api.rest/Makefile
  api.rest/fix_network.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Making loglevel info in APIs.
  api.rest/loop-api/app.py
  api.rest/loop-google-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Fixed search location_bias param.
  api.common/loop/google_client/places.py
  api.rest/fix_network.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Adding logic to unqoute path param.
  api.rest/loop-google-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Adding logic to enable uploads to s3.
  api.common/loop/api_classes/validators.py
  api.common/loop/constants.py
  api.common/loop/exceptions.py
  api.common/loop/google_client/__init__.py
  api.common/loop/google_client/constants.py
  api.common/loop/google_client/places.py
  api.common/loop/s3_service.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_google_places.py
  api.common/loop/utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added resturant thumbnail uploader directory.
  data.pipeline/.coveragerc
  data.pipeline/lambdas/restaurant_thumbnail_uploader/__init__.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/main.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/requirements.txt
  data.pipeline/lambdas/restaurant_thumbnail_uploader/src/__init__.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/src/thumbnail_uploader.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/tests/__init__.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/tests/test_thumbnail_uploader.py
Due: none

Added new resources to template file.
  data.pipeline/template.yaml
Due: none

Added new functions to utils.py
  api.common/loop/utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Fixed lint for test thumbnail uploader and added S3 lifecycle rules to cloudformation.
  data.pipeline/lambdas/restaurant_thumbnail_uploader/tests/test_thumbnail_uploader.py
  data.pipeline/template.yaml
Due: none

Changed number of days after initation to abort incomplete multipart upload, 1.
  data.pipeline/template.yaml
Due: none

Added ListBuckets permission to template.yaml.
  data.pipeline/template.yaml
Due: none

Endpoint to get restaurant more detailed information.
  api.common/loop/utils.py
  api.rest/loop-google-api/app.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/main.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Removing of test and src dirs in thumnail uploader dir.
  data.pipeline/lambdas/restaurant_thumbnail_uploader/src/__init__.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/src/thumbnail_uploader.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/tests/__init__.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/tests/test_thumbnail_uploader.py
Due: none

Added endpoint to get restaurant.
  api.common/loop/api_classes/validators.py
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/data_classes.py
  api.common/loop/enums.py
  api.common/loop/friends.py
  api.common/loop/google_client/constants.py
  api.common/loop/google_client/places.py
  api.common/loop/queue_service.py
  api.common/loop/s3_service.py
  api.common/loop/tests/test_data.py
  api.common/loop/tests/test_friends.py
  api.common/loop/tests/test_google_places.py
  api.common/loop/tests/test_thumbnails.py
  api.common/loop/thumbnails.py
  api.common/loop/utils.py
  api.rest/loop-api/app.py
  api.rest/loop-google-api/app.py
  api.rest/tests/test_api_endpoints.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/main.py
  data.pipeline/lambdas/user_creator/src/user_creator.py
  data.pipeline/template.yaml
  scripts/google_maps_testing.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Fixed test_data.
  api.common/loop/tests/test_data.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added test to each Makefile.
  .gitlab-ci.yml
  api.common/Makefile
  api.rest/Makefile
  data.pipeline/Makefile
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Updated api policy to allow access to thumbnail bucket.
  api.rest/loop-google-api/.chalice/policy-develop.json
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Added new endpoint to get user's friends.
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.common/loop/thumbnails.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Tidied up logger, now sits in constants.py.
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/friends.py
  data.pipeline/lambdas/restaurant_thumbnail_uploader/main.py
  data.pipeline/lambdas/user_creator/main.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added rapidfuzz to requirements and pipfile.
  Pipfile
  api.common/requirements.txt
  api.rest/requirements.txt
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added endpoint seacrh_users.
  api.common/loop/constants.py
  api.common/loop/data.py
  api.common/loop/friends.py
  api.common/loop/tests/test_friends.py
  api.rest/loop-api/app.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Transferring over google api endpoints to regular api and writing unit tests.
  api.rest/Makefile
  api.rest/loop-api/app.py
  api.rest/tests/test_api_endpoints.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Removed google api dir.
  api.rest/loop-google-api/.chalice/config.json
  api.rest/loop-google-api/.chalice/deployed/develop.json
  api.rest/loop-google-api/.chalice/policy-develop.json
  api.rest/loop-google-api/.gitignore
  api.rest/loop-google-api/app.py
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Added test_utils.py.
  api.common/loop/tests/test_utils.py
  api.common/loop/utils.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Increased coverage in thumbnails.py.
  api.common/.coveragerc
  api.common/loop/tests/test_thumbnails.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added test secrets.
  api.common/loop/secrets.py
  api.common/loop/tests/test_secrets.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added s3 service tests
  api.common/loop/tests/test_s3_service.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Increased min cover pct in api.common tests to 90%.
  api.common/Makefile
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Added queue service tests.
  api.common/loop/queue_service.py
  api.common/loop/tests/test_queue_service.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Updated policy for api.
  api.rest/loop-api/.chalice/policy-develop.json
Due: build-api-rest-ci-image, lint-api-rest, test-api-rest

Getting rid of google-api dir entirely.
  .gitlab-ci.yml
  api.rest/.gitignore
  api.rest/Makefile
  api.rest/pyproject.toml
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, lint-api-rest, test-api-common, test-api-rest

Added ignore pycodestyle to some lines in tests.
  api.common/loop/tests/test_queue_service.py
  api.common/loop/tests/test_secrets.py
Due: build-api-common-ci-image, build-api-rest-ci-image, lint-api-common, test-api-common, test-api-rest

Enforcing that users are only created upon confirmation of sign up.
  data.pipeline/lambdas/user_creator/main.py
Due: none

Path conditions:
  build-api-common-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/requirements.txt, api.common/**/*
  build-api-rest-ci-image: any of: docker/**/*, .gitlab-ci.yml, api.common/**/*, api.rest/**/*
  lint-api-common: any of: api.common/**/*, .gitlab-ci.yml
  lint-api-rest: any of: api.rest/**/*, .gitlab-ci.yml
  test-api-common: any of: api.common/**/*, .gitlab-ci.yml
  test-api-rest: any of: docker/**/*, api.common/**/*, api.rest/**/*, .gitlab-ci.yml
